.btn {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--gap);
    padding: 0.2rem;
    font-size: 0.7em;
    cursor: pointer;
    border-radius: var(--radius);
    color: #0F6A8B;
    border: 1px solid #0F6A8B;
    box-shadow: var(--shadow);
    position: relative;
  }

.btn_side {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--gap);
    width: 15rem;
    padding: 0.2rem;
    font-size: 0.7em;
    cursor: pointer;
    border-radius: var(--radius);
    color: #0F6A8B;
    border: 1px solid #0F6A8B;
    box-shadow: var(--shadow);
    position: relative;
  }

.bx {
    font-size: 0.7em;
}

.dropdown_vertical {
    position: absolute;
    width: 15rem;
    box-shadow: 1px solid #0F6A8B;
    border-radius: 2px;
    background: white;
    border: 1px solid #0F6A8B;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    font-size: 0.7em;
      
    transform: translateY(0.5rem);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
  }
  
.dropdown_vertical a {
    display: flex;
    align-items: center;
    column-gap: var(--gap);
    padding: 0.8rem 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #0F6A8B;
}
  
.dropdown_vertical a:hover {
    color: white;
    background-color: #0F6A8B;
}

.dropdown_multi {
    position: absolute;
    box-shadow: 1px solid #0F6A8B;
    border-radius: 2px;
    background: white;
    border: 1px solid #0F6A8B;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    font-size: 0.7em;
      
    transform: translateY(0.5rem);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
  }

.dropdown_side {
    position: absolute;
    width: 15rem;
    box-shadow: 1px solid black;
    border-radius: 2px;
    background: white;
    border: 1px solid #0F6A8B;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    font-size: 0.7em;
      
    transform: translateX(0.5rem);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
  }
  
.dropdown_side a {
    display: flex;
    align-items: center;
    column-gap: var(--gap);
    padding: 0.8rem 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #0F6A8B;
}
  
.dropdown_side a:hover {
    color: white;
    background-color: #0F6A8B;
}


.show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
}
  
.arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
}